/* Universal box sizing */

* {

    box-sizing: border-box;

}

/* h1 styling */
h1{
    color:white;
    font-size: 4vw;
    
}

/* h2 styling */
h2{
    color:white;
    font-size: 2vw;
    

}

.shadow {
    text-shadow: 2px 2px 5px black;
}

/* Set the size of the body */
body {

  width: 80%;
  max-width: 80vw;
  background-color:aliceblue; /* Sets the windows background colour */
  min-height: 100vh;

}

/* Center text on banner image */
.center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* sets banner position */
.banner {
    position:relative;
}


/*sets images width and height */
img {
    width: 100%;
    height: auto;
}

/* Style the header */
.header {
   
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;

}

/* Style the top navigation bar */

.topnav {

    overflow: hidden;

    background-color: black;

}

/* Style the topnav links */

.topnav a {

    float: left;

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

}

/* Create two equal columns that float next to each other */

.column {

    float: left;

    width: 300px;

    padding: 15px;

    background-color: yellow;

}

/* Clear floats after the columns */

.row:after {

    content: "";

    display: table;

    clear: both;

}

.footer {

    background-color: yellow;

    text-align: center;

    padding: 10px;

}